
@import url('./error-success.css');

/* Definindo a fonte localmente */
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100 700; /* Define o intervalo de pesos que você baixou */
  src: url('../assets/icones/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2') format('woff2');
}

.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;      /* Tamanho padrão */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
